
div[class^="circle"]{
    width: 100px;
    height: 100px;
}

.circle-red{
    background: red;
}

.circle-blue{
    background: blue;
}

.circle-green{
    background: green;
}

section[class^="caja"]{
    display: flex;
    border: 1px solid;
    padding: 15px;
    margin: 30px;
    margin-bottom: 10rem;
}

.caja-uno{
    justify-content: space-between;
}

.caja-dos{
    justify-content: center;
}

.caja-tres{
    justify-content: space-evenly;
}